<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--Import Google Icon Font-->
    <link th:href="@{/css/icons.css}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>


    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="background-color: #b0bec5">

<header>
    <div class=" navbar-fixed">
        <nav class="light-blue  lighten-2 waves-effect waves-light">
            <div class="container center-align nav-wrapper">
                <a href="#">
                    <span style="font-weight:300;font-size:1.8rem;">Le Morpion</span>
                </a>
            </div>
        </nav>
    </div>
</header>

<br />

<div class="row">
    <div class="col s4 offset-s4">
        <div class="row">
            <div class="col s4">
                    <img id="C0" onclick="play(0, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C1" onclick="play(1, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C2" onclick="play(2, $(this))" th:src="@{/images/none.jpg}">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                    <img id="C3" onclick="play(3, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C4" onclick="play(4, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C5" onclick="play(5, $(this))" th:src="@{/images/none.jpg}">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                    <img id="C6" onclick="play(6, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C7" onclick="play(7, $(this))" th:src="@{/images/none.jpg}">
            </div>
            <div class="col s4">
                    <img id="C8" onclick="play(8, $(this))" th:src="@{/images/none.jpg}">
            </div>
        </div>
        <div class="row">
            <a href="/" class="col s4 offset-s4 waves-effect waves-light btn-large">Replay</a>
        </div>
    </div>
</div>
    <script th:inline="javascript">

        M.AutoInit();

        function getState() {
            var states = [];

            for (var i=0; i<=8; i++) {
                if($("#C"+i).attr('src') === "/images/none.jpg"){
                    states.push("");
                }else if($("#C"+i).attr('src') === "/images/zero.jpg"){
                    states.push("O");
                }else if($("#C"+i).attr('src') === "/images/cross.jpg") {
                    states.push("X");
                }
            }
            return states
        };

        function play(choice, elementSelected) {
            if (elementSelected.attr('src') === "/images/none.jpg") {
                elementSelected.attr("src", "/images/cross.jpg");

                $.get( "/playPosition", { choice: choice, state: getState() }).done(function( result ) {
                        $("#"+result).attr("src", "/images/zero.jpg")
                });

            }
        }

    </script>
</body>

</html>
